---
import "./style.css";
const { type, classes, label, text, id } = Astro.props;
---

<button
  id={id}
  type={type}
  class={`${classes} buttons rounded flex gap-3  items-center justify-between font-hellix border text-white h5`}
  aria-label={label}
  data-back={text}
  data-front={text}
>
  <!-- <span class="h6">{text}</span> -->
  <svg
  class="z-10"
    xmlns="http://www.w3.org/2000/svg"
    width="29.568"
    height="11.955"
    viewBox="0 0 29.568 11.955"
  >
    <path
      id="Icon_open-arrow-right"
      data-name="Icon open-arrow-right"
      d="M5.394,0V5.11H-17V6.829H5.394v5.127l7.173-6.049Z"
      transform="translate(17)"
      fill="#fff"></path>
  </svg>
</button>;
