---
const { label, title_1, title_2, title_3, des, theme, classes, li1, li2, li3 } =
  Astro.props;
import Button from "@atoms/buttons/index.astro";
---

<div class={classes}>
  {
    theme === "light" ? (
      <div class="flex xl:flex-row flex-col xl:max-w-screen-lg max-w-screen-sm xl:gap-10 md:gap-2">
        <h3 class="h1 font-bold text-white md:mt-2 md:leading-tight leading-tight flex-1">
          {title_1} <span class="text-yellow">{title_2}</span>
          {title_3}
        </h3>
        <div class="flex-1 basis-[300px] mt-2">
          <h3 class="h5 text-white leading-snug md:mt-6 md:pr-[15%]">{des}</h3>

          <ul class="list-triangle md:mt-4 ml-6">
            <li class="h5 text-white">{li1}</li>
            <li class="h5 text-white">{li2}</li>
            <li class="h5 text-white">{li3}</li>
          </ul>
          <div class="mt-8 flex flex-wrap gap-3">
            <Button
              type="button"
              label=""
              callback={() => {}}
              text="FOR BUSINESSES"
              key="for-business"
              classes="md:p-3 p-1 px-4"
            />
            <Button
              type="button"
              label=""
              callback={() => {}}
              text="FOR FARMERS"
              key="for-farmers"
              classes="md:p-3 p-1 px-4"
            />
          </div>
        </div>
      </div>
    ) : (
      ""
    )
  }
</div>
